{% extends 'main/doctor_base.html' %}
{% block title %}
    Patient card
{% endblock %}
{% block content %}
    <h1>Welcome, Dr.{{request.user.first_name}}</h1>
    <h2>Here is information about {{patient.username}} diseases</h2>

    <form method="POST" action="#">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" readonly name ="username" value="{{patient.username}}">
        <p><button style="margin-top:10px" type="submit" class="btn btn-success" name="add" value="disease" id = "{{patient.username}}">Add disease</button></p><table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Disease</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>

            {% for disease in diseases %}
            <tbody>
                <tr>
                    <th scope="row">{{forloop.counter }}</th>
                    <td>{{disease.disease_name}}</td>
                    <td>{{disease.disease_date}}</td>
                </tr>
            </tbody>
            {% endfor %}

                </table>
<h2>Your vaccination list</h2>

<table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Vaccination</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>

            {% for vac in vacs %}
            <tbody>
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{vac.vac_name}}</td>
                    <td>{{vac.vac_date}}</td>
                </tr>
            </tbody>



            {% endfor %}
    </table>
    </form>



{% endblock %}
